.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* Establecer un ancho específico para la tabla */
  .table {
   /*  width: 50%; Puedes ajustar este valor según tus necesidades*/
    font-size: 11px; /* Ajusta el tamaño de la fuente según tus necesidades */
    line-height: 0.8; /* Ajusta el valor según tus necesidades (1 = interlineado normal) */
    max-width: 100%; 
  }
  
  /* Estilo adicional para el gráfico */
  #myChart {
    max-width: 100%; 
    max-height: 100%; 
  }   
  .modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* Estilo para las celdas de la tabla */
  .table td, .table th {
    padding: 0.3rem 0.5rem; /* Ajusta el padding (espaciado interno) según tus necesidades */
  }
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* El gráfico se ajustará al ancho máximo del contenedor */
    max-height: 100%;
    overflow: hidden;
  }