*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#data-container{
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-block: 7px;
    /* width: 1200px; */
}

.data-row{
    display: flex;
    padding: 3px 5px;
    background-color:  rgb(218, 218, 218);
    border: 1px solid #5a5a5a;
    border-radius: 12px;
    height: 60px;
    justify-content: space-evenly;
}

.data-row>div{
    /* background-color: aqua; */
    padding: 7px 2px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.data-row>div label{
    font-size: .9em;
}

.data-row>div:last-child{
    display: grid;
    place-items: center;
}

.data-row>div:last-child button{
    flex-grow: 1;
    height: 100%;
    width: 45px;
    background-color: #ca2525;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-row{
    width: 100%;
    height: 70px;
    padding: 7px;
    width: 100%;
}

#add-row button{
    background-color: #2bc22b56;
    border: 3px dashed #0a490f;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    font-size: 2em;
    color: #0a490f;
    cursor: pointer;
}

.form-control{
    background: white;
    width: 100%;
    border: 1px solid #5a5a5a;
    border-radius: 3px;
    height: 1.7em;
}

nav{
    display: flex;
    background-color: #272727;
    border-bottom: 2px solid #f5e617;
    color: white;
}

nav .brand{
    flex-shrink: 1;

    padding: 7px 13px;
    text-align: center;
}

nav .info{
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content:has(#secPredicciones){
    display: grid;
    grid-template-columns: 1fr 350px;
    font-size: 20px;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
}

section{
    padding-inline: 23px;
}

table{
    border-spacing: 0;
    width: 100%;
}

table  td{
    border-bottom: 1px solid;
}

table  th{
    border-bottom: 1px solid;
    font-weight: bolder;
}

#formInteractions{
    display: flex;
    justify-content: right;

    gap: 11px; 
}

#formInteractions button{
    padding: 5px 11px;
    background: #787878;
    border: none;
    border-radius: 4px;
    font-size: 18px;
}

#formInteractions button[type='submit']{
    background-color: #12be20;
    color: white;
}
#formInteractions button[type='button']{
    background-color: #e70606;
    color: white;
}

#form_symptoms #symptoms{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#form_symptoms #symptoms > div{
    min-width: 250px;
    flex-grow: 1;
    max-width: 500px;
}

form h5{
    margin: 0;
    font-weight: bolder !important;

}

form p {
    margin: 0;
    font-weight: 400;
}

/* Custom styling for radio buttons to make them look like checkboxes */
input[type="radio"] {
    -webkit-appearance: none; /* Hide default radio button */
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    margin: 0;
    vertical-align: middle;
    position: relative;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

/* Create custom radio button style */
input[type="radio"]::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #a8a8a8;
}

input[type="radio"]::after {
    content: "\2713";
    position: absolute;
    display: none;
    top: 1px;
    left: 5px;
    font-size: 12px;
    color: #000;
    font-weight: bolder;
}


/* Custom style for checked radio button */
input[type="radio"]:checked::before {
    background-color: #007BFF;
    border-color: #007BFF;
}

input[type="radio"]:checked::after {
    display: block;
}

/* Optional: Style for radio button on focus */
input[type="radio"]:focus::before {
    box-shadow: 0 0 5px #007BFF;
}